.canceled {
    background-color: black;
    color: white;
}

.container {
    display: table;
}

.container div {
    display: table-cell;
}

.group {
    border: 1px solid white;
}

.group:hover {
    border: 1px solid black;
}

.red {
    color: red;
}